.popup {
  visibility: hidden;
  position: fixed;
  top: 195px;
  left: calc((100vw - 430px) / 2);
  transition: all 200ms ease;
}

/* .popup__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
} */

.popup__content {
  z-index: 3;
  height: 330px;
  width: 430px;
  background-color: white;
  border-radius: 10px;
}

.popup__content-image {
  z-index: 3;
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 10px;
}

.popup_open {
  visibility: visible;
}

.popup__profile-text-about {
  margin-top: 30px;
}

.popup__close-icon {
  position: relative;
  top: -40px;
  left: 425px;
  cursor: pointer;
}

@media (hover: hover) {
  .popup__close-icon:hover {
    opacity: 60%;
  }
}

.popup__admin {
  margin: 0 0 0 36px;
}

.popup__input-container {
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: black;
  width: 358px;
}

.popup__heading {
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  margin: 34px 0 54px;
}

.popup__profile-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  border: none;
  text-align: left;
  color: black;
  width: 358px;
  line-height: 30px;
}

.popup__place-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  border: none;
  text-align: left;
  color: black;
  width: 358px;
  line-height: 30px;
}

.popup__text-link {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  border: none;
  text-align: left;
  color: black;
  width: 358px;
  line-height: 30px;
  margin-top: 30px;
}

.popup__line {
  height: 1px;
  width: 358px;
  background-color: #c4c4c4;
}

.popup__image {
  max-width: 100%;
  height: auto;
  /* margin: 0 auto; */
  position: relative;
  display: flex;
  justify-content: center;
}

.popup__title {
  background-color: unset;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: white;
}

.popup__button-save {
  height: 50.15px;
  width: 358px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  border: none;
  color: white;
  background-color: black;
  margin-top: 48px;
  border-radius: 2px;
  cursor: pointer;
}

@media (hover: hover) {
  .popup__button-save:hover {
    opacity: 80%;
  }
}

@media screen and (max-width: 640px) {
  .popup {
    height: 322px;
    width: 282px;
    position: fixed;
    top: 168px;
    left: calc((100vw - 282px) / 2);
  }

  .popup__admin {
    margin: 0 0 0 22px;
  }

  .popup__heading {
    font-size: 18px;
    margin: 34px 0 54px;
  }

  .popup__text {
    font-size: 14px;
  }

  .popup__line {
    width: 282px;
    margin-top: 9px;
  }

  .popup__button-save {
    height: 46px;
    width: 238px;
  }

  .popup__close-icon {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -40px;
    left: 243px;
    cursor: pointer;
  }
}
